# Python 缓存
__pycache__/
*.py[cod]
*$py.class
src/__pycache__/
src/Ribbon/__pycache__/
src/GUI/__pycache__/



# C 扩展
*.so
*.pyd
*.dll

# 构建 & 分发
build/
dist/
*.egg-info/
.eggs/

# 虚拟环境
.venv/
venv/
env/
ENV/
*.conda
*.env

# IDE 配置
.vscode/
.idea/
*.swp
*.swo

# 日志 & 临时文件
*.log
*.tmp
*.bak

# Jupyter Notebook
.ipynb_checkpoints/

# Qt Designer 生成文件
*.ui~
*.qrc~
*.qmlc
*.jsc

# macOS / Linux / Windows 特有垃圾
.DS_Store
Thumbs.db
desktop.ini

# 测试覆盖率/报告
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.spec

# Gmsh/mesh/中间文件（如果你在做网格）
*.msh
*.unv
*.vtk
*.mesh
